{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Graph Visualizer{% endblock %}</title>
    <!-- Add your CSS link here -->
     <link rel="stylesheet" href="{% static 'css/base.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'pie_graph' %}">Pie Chart</a></li>
            <li><a href="{% url 'bar_graph' %}">Bar Graph</a></li>
            <li><a href="{% url 'line_graph' %}">Line Graph</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </div>

    <!-- Add your JavaScript link here -->
</body>
</html>
