{% extends 'visualizer/base.html' %}
{% load static %}

{% block title %}Pie Chart Visualizer{% endblock %}

{% block content %}
    <h2>Pie Chart Visualizer</h2>
    <div class="graph-page">
        <!-- Graph Container -->
        <div class="graph-container">
            <img id="pie-graph" src="data:image/png;base64,{{ plot_image }}" alt="Pie Graph">
            <button id="download-btn">Download Chart</button>
        </div>

        <!-- Inputs Container -->
        <div class="inputs-container">
            <h3>Change Pie Chart Labels:</h3>
            <div id="labels">
                <input id="title_label" type="text" class="label" placeholder="Enter chart title">
            </div>
            <h3>Change Pie Chart Data:</h3>
            <table id="input-table">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="label" placeholder="Enter label" value="JavaScript"></td>
                        <td><input type="number" class="value" placeholder="Enter value" value="15"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="label" placeholder="Enter label" value="Python"></td>
                        <td><input type="number" class="value" placeholder="Enter value" value="13"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="label" placeholder="Enter label" value="C#"></td>
                        <td><input type="number" class="value" placeholder="Enter value" value="22"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="label" placeholder="Enter label" value="Rust"></td>
                        <td><input type="number" class="value" placeholder="Enter value" value="2"></td>
                    </tr>
                </tbody>
            </table>
            <div id="buttons">
                <button id="add-row">Add Row</button>
                <button id="update-graph">Update Chart</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/pie_graph.js' %}"></script>
{% endblock %}