h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;

}
.graph-page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.graph-container {
    flex: 1.5;
    min-width: 400px;
    max-width: 800px;
    background-color: #f9f9f9;
    padding: 15px;
    padding-top: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.graph-container button {
    width: auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.graph-container button:hover {
    background-color: #45a049;
}

#labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inputs-container {
    flex: 1;
    min-width: 400px;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
        align-items: center;
}

.inputs-container h3 {
    margin-bottom: 15px;
    color: #333;
}

.inputs-container input{
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputs-container button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
.buttons {
    display:flex;
    padding: 40px;
}

.buttons button{
    background-color: #4caf50;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 300px;
    min-width: 150px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputs-container button:hover {
    background-color: #45a049;
}

.inputs-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.inputs-container table th,
.inputs-container table td {
    border: 1px solid #ddd;
    padding-right: 40px;
    padding-left: 40px;
    padding-top:8px;
    text-align: center;
}

.inputs-container table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.inputs-container table tr:nth-child(even) {
    background-color: #f9f9f9;
}